.products .thumbnail, .products .user { width:200px; height:200px }

.index .lead { margin-bottom: 30px }
.index .search hr { margin: 30px 0 }

.index .main-link, .user .main-link, .products .main-link { color: #2c3e50 }
.index .main-link:hover, .user .main-link:hover, .products .main-link:hover  { color: #2c3e50 }

.user .thumbnails p {width: 290px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: 5px 0 0 5px}
.user .thumbnails .action {margin: 15px 0 5px 5px; padding: 0}

.fb {
	background: url(/static/img/fb.png);
    border: none;
	width: 27px;
	height: 27px;
    z-index: 3300;
	margin: 12px 10px 0 0;
    display: none;
}
.fb-true {
    display: inline;
    background: none;
    width: 122px;
	background-color: #2c3e50;
	color: white;
	cursor: auto;
}
.fb-true img {
	margin-left: 5px;
}

.fb-false {
    display: inline;
}

.action:hover {
    cursor: pointer;
    text-decoration: underline;
}
