{% extends "layout.html" %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script src="{{ url_for('static', filename='search.js') }}"></script>
    {{ super() }}
    <style type="text/css">
        .search { width: 410px; }
    </style>
{% endblock %}
{% block body %}
  <div class="jumbotron">
    <h2>HobbyKing.com Stock Finder</h2>
    <p class="lead">Find your RC products from hobbyking.com, check stock level and prices. </p>
  </div>

  <div lang="en" ng-app="myApp" ng-controller="MainCtrl" style="width:410px; margin:0 auto">  
      <my-autocomplete remote-data="Wrapper.AutoComplete(request, response)" 
              min-input="2" restrict="true" 
              selected-item="selectedItem" 
              placeholder="Serach HobbyKing.com">
      </my-autocomplete>     
  </div>

  

   <hr>

  <div class="row">
    {% for i in range(3) %}
		<div class="span4">
		  <a class="main-btn" href="/product/{{ data[i].id }}">
	      		<h3>{{ data[i].description }}</h3>
	   </a>
	  </div>    
    {% endfor %}  
  </div>
  <div class="row">
    {% for i in range(3) %}
    <div class="span4">
      <img src="http://www.hobbyking.com/hobbyking/store/{{ data[i].img }}"></img>
    </div>    
    {% endfor %}  
  </div>
{% endblock %}   
