{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
  <div class="jumbotron">
    <h2>HobbyKing.com Stock Finder</h2>
    <p class="lead">Find your RC products from hobbyking.com, check stock level and prices. </p>
    <a class="btn btn-large btn-success" href="#">Get started today</a>
  </div>

   <hr>

  <div class="row">
    {% for i in range(3) %}
		<div class="span4">
		  <a class="main-btn" href="/product/{{ data[i].id }}">
	      		<h3>{{ data[i].description }}</h3>
	   </a>
	  </div>    
    {% endfor %}  
  </div>
  <div class="row">
    {% for i in range(3) %}
    <div class="span4">
      <img src="http://www.hobbyking.com/hobbyking/store/{{ data[i].img }}"></img>
    </div>    
    {% endfor %}  
  </div>
{% endblock %}   
