{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body_class%}index{% endblock %}
{% block body %}
<div class="jumbotron">
  <h2>HobbyKing.com Stock Finder</h2>
  <p class="lead">Find your RC products from hobbyking.com, check stock level and prices. </p>
</div>

<div ng-app="myApp" ng-controller="SearchCtrl" class="search">
  <div style="width:510px; margin:0 auto">
  <input type="text" ng-model="searchTerm" placeholder="((placeholder))" ng-change="change()" 
                   tabindex="1" accesskey="s" class="input-large search-query" style="width:510px" focused="focused">
  </div>                

  <hr ng-show="showSearchDivider">

  <ul class="thumbnails">
    <li class="span3" ng-repeat="product in products">
      <div class="thumbnail" ng-click="go(product)">
        <a class="main-link" href="">
          <img width="300" height="250" ng-src="http://www.hobbyking.com/hobbyking/store/((product.img))"/>
          <p ng-bind="product.description"></p>
        </a>
      </div>
    </li>
  </ul>

  <div ng-show="main">
    <hr>
    <ul class="thumbnails">
      {% for i in range(3) %}
    	<li class="span4">
        <div class="thumbnail">
          <a class="main-link" href="/product/{{ data[i].id }}">
          <img ng-src="http://www.hobbyking.com/hobbyking/store/{{ data[i].img }}"/>
    	     <h3>{{ data[i].description }}</h3>
    	    </a>       
        </div>
      </li>    
      {% endfor %}  
    </ul>
  </div>

</div>

{% endblock %}   
