{% extends "layout.html" %}
{% block body_class%}product{% endblock %}
{% block head %}    
	{{ super() }}    
    <script>
    	var Product = {"id" : {{ product.id }}}
    </script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='lib/angular-busy.css') }}">    
{% endblock %}
{% block body %}
<div ng-app="myApp" ng-controller="ProductCtrl" class="container">
	<div class="content">
		<h2><a href='http://www.hobbyking.com/hobbyking/store/uh_viewitem.asp?idproduct={{ product.id }}&aff=847552'>{{ product.description }}</a></h2>  
		<ul class="inline" cg-busy="{tracker:'product',template:'/static/lib/busy.html'}" >
			<li>Price:</li>
			<li ng-bind="product.price" class="text-success"></li>
			<br>
			<li>Stock:</li>
			<li class="text-((status))" ng-bind="product.stock"></li>
            <br>
            <a ng-click="add(product)">Watch</a>
        </ul>
		<hr>
		<img src="http://www.hobbyking.com/hobbyking/store/{{ product.img }}"/>
	</div>
</div>
{% endblock %}

