{% extends "layout.html" %}
{% block body_class%}product{% endblock %}
{% block head %}    
	{{ super() }}
    <script src="{{ url_for('static', filename='lib/bootbox.min.js') }}"></script>
    <script>
    	var Product = {"id" : {{ product.id }}, "description" : "{{ product.description }}" }
    </script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='lib/angular-busy.css') }}">    
{% endblock %}
{% block body %}
<div ng-app="myApp" ng-controller="ProductCtrl" class="container">
	<div class="content">
		<h2><a ng-href='http://www.hobbyking.com/hobbyking/store/uh_viewitem.asp?idproduct={{ product.id }}&aff=847552'>{{ product.description }}</a></h2>
		<ul class="inline" cg-busy="{tracker:'product',template:'/static/lib/busy.html'}" >
			<li>Price:</li>
			<li ng-bind="product.price" class="text-success"></li>
			<br>
			<li>Stock:</li>
			<li class="text-((status))" ng-bind="product.stock"></li>
            <br>
            <br>
            <li ng-click="addOrRemove(product)"><strong class="action" ng-bind="product.user"></strong></li>
        </ul>
		<hr>
		<img ng-src="http://www.hobbyking.com/hobbyking/store/{{ product.img }}"/>
	</div>
</div>
{% endblock %}

