{% extends "layout.html" %}
{% block body_class%}product{% endblock %}
{% block head %}    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script src="{{ url_for('static', filename='lib/promise-tracker.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/angular-busy.js') }}"></script>
	<script src="{{ url_for('static', filename='product.js') }}"></script>
    <script>
    	var Product = {"id" : {{ product.id }}}
    </script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='lib/angular-busy.css') }}">
    {{ super() }}    
{% endblock %}
{% block body %}
<div ng-app="myApp" ng-controller="ProductCtrl" class="container">
	<div class="content">
		<h2><a href='http://www.hobbyking.com/hobbyking/store/uh_viewitem.asp?idproduct={{ product.id }}&aff=847552'>{{ product.description }}</a></h2>  
		<ul class="inline" cg-busy="{tracker:'product',template:'/static/lib/busy.html'}" >
			<li>Price:</li>
			<li ng-bind="product.price" class="text-success"></li>
			<br>
			<li>Stock:</li>
			<li class="text-((status))" ng-bind="product.stock"></li>						
		</ul>
		<hr>
		<img src="http://www.hobbyking.com/hobbyking/store/{{ product.img }}"></img>		
	</div>
</div>
{% endblock %}

