{% extends "layout.html" %}
{% block body_class%}user{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
<div class="jumbotron">
  <p class="lead"></p>
</div>

<div ng-app="myApp" ng-controller="UserCtrl" class="content" ng-cloak>
    <h2 ng-show="user.connected">
        Welcome ((user.name)) search for products and add them to your personalized page.
      <br>
    </h2>
    <h2 ng-hide="user.connected">
        Welcome Guest log in with your Facebook account to personalized your page.
        <br>
    </h2>
  <ul class="thumbnails">
    <li class="span4" ng-repeat="product in products">
      <div class="thumbnail">
        <a class="main-link" href="/product/((product.id))">
          <img width="300" height="250" src="http://www.hobbyking.com/hobbyking/store/((product.img))"/>
          <p>((product.description))</p>
        </a>
        <ul class="inline">
          <li>Price:</li>
          <li ng-bind="product.price" class="text-success"></li>
          <br>
          <li>Stock:</li>
          <li class="text-((product.status))" ng-bind="product.stock"></li>           
        </ul>
        <p class="action"><a href="http://www.hobbyking.com/hobbyking/store/uh_viewitem.asp?idproduct=(( product.id ))&aff=847552" class="btn btn-primary btn-small">Buy Now!</a> <a href="" ng-click="delete(product, $index)" class="btn btn-small">Delete</a></p>        
    </div>
    </li>
  </ul>

</div>

{% endblock %}   
